
  header {
   
    background-color: white;
    

    width: 100%;
    height:60px;

  }

 body{

   
    background-color : #dddddd;
    
 }



.title-area li
{
   
    float: left; 
    background-color: rgb(48, 228, 228);
    color: white;
    padding: 20px;
    margin-left: 40px;
    font-size: 22px;



}



/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
    
}

nav a{

    text-decoration: none;
}

/* Add a color to the active/current link */
nav a.active {
    background-color: #4CAF50;
    color: white;
}

nav ul li {
    
    display: inline-block;
    padding-right: 20px;
  }

.nav-items { 
   
    float: right; 
  }

    
article{

    background-color: white;
    margin:40px 80px;
}

article h1{

    padding:20px;
    border-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: Grey;
    color:rgb(48, 228, 228);
    font-weight: bold;
    font-size: 20px;

}

article img{
    float: left;
    padding: 20px;
    margin: 20px;

}

img{

    float:left;
}

form{

    margin:10px;
    
}


#button{
    background-color: aqua;
}

  footer {
      overflow: auto;
clear: both;
position: fixed;
bottom: 0;
width: 100%;
height:50px;
background-color: #777;
color: black;
text-align: center;
border-style: solid;
    border-top-width: 5px;
    border-top-color: rgb(48, 228, 228)
}